<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-input/iron-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="log-out.html">


<dom-module id="polymertp-app">
  <template>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

      <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
      <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>
      <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }
      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }
      input {
        position: relative; /* to make a stacking context */
        outline: none;
        box-shadow: none;
        margin: 0;      
        padding: 0;   
        width: 100%; 
        max-width: 100%;
        background: transparent;
        border: none;
        color: var(--paper-input-container-input-color, var(--primary-text-color));
        -webkit-appearance: none;
        text-align: inherit;
        vertical-align: bottom;
        /* Firefox sets a min-width on the input, which can cause layout issues */
        min-width: 0;
        @apply --paper-font-subhead;
        @apply --paper-input-container-input;
      }
    </style>
        
    <iron-ajax
    id="getDatosClienteAjax"
    method="get"
    content-type="application/json"
    handle-as="text"
    on-response = "handleUserResponse2"
    on-error ="handleUserError">
    </iron-ajax>

    <iron-ajax
    id="getMovAjax"
    method="get"
    content-type="application/json"
    handle-as="text"
    on-response = "handleMovResponse"
    on-error ="handleUserError">
    </iron-ajax>

    <iron-ajax
    id="getDatosAllClienteAjax"
    method="get"
    content-type="application/json"
    handle-as="text"
    on-response = "handleUserResponseAll"
    on-error ="handleUserError">
    </iron-ajax>

    <iron-ajax
    id="postTransferenciaAjax"
    method="post"
    content-type="application/json"
    handle-as="json"
    on-response = "handleTransResponse3"
    on-error ="handleUserError">
    </iron-ajax>
 
  <div class="card">
<div>
      <paper-button class="primary left" raised on-tap="getClientData">Cuentas</paper-button>
      <paper-button class="primary" raised on-tap="getClientMov">Movimientos</paper-button>
       <log-out class="right" stored-user="{{storedUser}}"></log-out>
      </div>
  </div>
  <div class="row" hidden$="{{muestroCuentas}}">
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Tipo de cuenta</th>
              <th scope="col">Nro de cuenta</th>
              <th scope="col">Saldo</th>
              <th scope="col">Accion</th>

            </tr>
          </thead>
    <tbody>
      <template is="dom-repeat" items="{{cliente}}">
        <tr>
          <td>[[item.moneda]]</td>
          <td>[[item.numero]]</td>
          <td>[[item.saldo]]</td>
          <td><paper-button class="primary" raised on-tap="transferencia">Transferencia</paper-button></td>
        </tr>
      </template>
    </tbody>
  </table>

  </div>

  <div class="row" hidden$="{{muestroclientes}}">
    <label for="Destinatario">Destinatario:</label>
    <select class="form-control"  id=sclientes>
      <template is="dom-repeat" filter="sacoOrigen" items="{{clientesall}}">
           <option value="[[item.email]]">[[item.email]]</option>
      </template>
    </select>
    <paper-input-container>
      <label>Monto</label>
      <iron-input slot="input" bind-value="{{monto}}">
        <input id="monto">
      </iron-input>
    </paper-input-container>
    <paper-button class="primary" raised on-tap="transferir">Transferir</paper-button>
  </div>
 
    
  <div class="row" hidden$="{{muestroMov}}">
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Origen</th>
              <th scope="col">Destino</th>
              <th scope="col">Monto</th>
              <th scope="col">Moneda</th>
              <th scope="col">Fecha</th>

            </tr>
          </thead>
      <tbody>
        <template is="dom-repeat" items="{{movimientos}}">
          <tr>
            <td>[[item.emailO]]</td>
            <td>[[item.emailD]]</td>
            <td>[[item.monto]]</td>
            <td>[[item.moneda]]</td>
            <td>[[item.time]]</td>
          </tr>
        </template>
      </tbody>
    </table>
  
  </div>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PolymertpApp extends Polymer.Element {
      static get is() { return 'polymertp-app'; }
      static get properties() {
        return {
          cliente: {
            type: Array,
            notify: true
          },
          movimientos: {
            type: Array,
            notify: true
          },
          muestroMov: {
            type: Boolean,
            value: true
          },
          muestroCuentas:{
            type: Boolean,
            value: true
          },
          muestroclientes:{
            type: Boolean,
            value: true
          },
          clientesall: {
            type: Array,
            notify: true
          },
          monedatx:{
            type: String,
            value: "pesos"
          },
          monto: {
            type: Number
          }
        };
      }
      
      sacoOrigen(item){
        console.log(item.email+ " "+ this.storedUser.name);
        if (item.email == this.storedUser.name){
          console.log("paso por igual")
          return "pepepep"
        }
        else {
          console.log("paso por distinto")
          return item
        }
      }

      transferir(e){
        var lala = this.shadowRoot.getElementById('sclientes');
        var emaild = lala.options[lala.selectedIndex].value;
        var emailo = this.storedUser.name;
        var monedat =  this.monedatx;
        var montot = this.monto;
        this.$.postTransferenciaAjax.headers['Authorization'] =  this.storedUser.id_token;
        this.$.postTransferenciaAjax.url="http://127.0.0.1:3000/movimientos/";
       // console.log("de:" + this.storedUser.name + " A: " + emaild + " moneda:"+ this.monedatx + " monto:"+ this.monto);
        this.$.postTransferenciaAjax.body={"emailo":emailo,"emaild": emaild,"monto":montot,"moneda":monedat};
        this.$.postTransferenciaAjax.generateRequest();
      }
      transferencia(e) {
       // var model = e.model;
       // model.set('item.ordered', model.item.ordered+1);
       this.monedatx = e.model.item.moneda;
       this.$.getDatosAllClienteAjax.headers['Authorization'] =  this.storedUser.id_token;
       this.$.getDatosAllClienteAjax.url="http://127.0.0.1:3000/user/";
       this.$.getDatosAllClienteAjax.generateRequest();
      }

      _setReqBody() {
              //this.$.getDatosClienteAjax.body = "{'token': this.storedUser.id_token}";
              this.$.getDatosClienteAjax.headers['Authorization'] =  this.storedUser.id_token;
      }

      getClientData(){

        this.$.getDatosClienteAjax.url="http://127.0.0.1:3000/user/"+this.storedUser.name;
        this._setReqBody();
        this.$.getDatosClienteAjax.generateRequest();
      }

      getClientMov(){ 
        this.$.getMovAjax.url="http://127.0.0.1:3000/movimientos/"+this.storedUser.name;
        this.$.getMovAjax.headers['Authorization'] =  this.storedUser.id_token;
        this.$.getMovAjax.generateRequest();

      }

      handleMovResponse(event){
        this.movimientos = JSON.parse(event.detail.response);
      //  console.log(this.movimientos[0])
        if (this.muestroMov){
                this.muestroMov = false
               }else{
               this.muestroMov = true}
               this.muestroclientes=true;
             this.muestroCuentas= true;
      }

      handleUserResponse2(event) {
              var response = JSON.parse(event.detail.response);
               this.cliente = response[0].cuentas
               if (this.muestroCuentas){
                this.muestroCuentas = false
               }else{
               this.muestroCuentas = true}
               this.muestroMov = true

          }

          handleUserResponseAll(event) {
              var response = JSON.parse(event.detail.response);
               this.clientesall = response
               if (this.muestroclientes){
                this.muestroclientes = false
               }else{
               this.muestroclientes = true}
               this.muestroMov = true

          }

          handleTransResponse3(event) {
             this.muestroclientes=true;
             this.muestroCuentas= true;
             this.monto=null
          }
          handleUserError(event) {
              this.error = event.detail.request.xhr.response;
          }
    }

    window.customElements.define(PolymertpApp.is, PolymertpApp);
